{% extends "layout.html" %}

{% block header %}
<h1 class="title copperplate"><strong>The Edge of the Universe™</strong></h1>
<div>
  <a href="{{ url_for('index') }}" class="margin20 pagelink">Home</a>
  <span class="themetog">
    <button type="button" class="btn btn-outline-primary" id="togthemebtn">Light/Dark mode</button>
  </span>
</div>
{% endblock %}

{% block main %}
<h2 class="varcolor">FIRST EVER</h2>

<div class="margin20 ptext varcolor">    
  <p>Welcome to <span class="copperplate"><strong>the edge of the universe™</strong></span>! I am excited to share my thoughts and musings with you through my blog website. I may be new to all of this, but I am eager to explore the vast expanse of topics that interest me, from the latest technology and science developments to philosophy and beyond. I'm also looking forward to sharing some of my random projects which might include a little coding and music. I don't know, anything I find interesting I could talk about. The future is always uncertain, but I believe that by sharing my passions and ideas, we can discover and improve together. This website is not live as i am writing this, so I am currently working towards uploading the site. I am sure that I will learn many things during this journey (hopefully you too!) and I hope that you will find the content valuable.</p>

  <p>As for the website, I have taken on the challenge of coding it myself, using <a class="plink" target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/">Bootstrap</a> to help me with some of the CSS. Although I am a beginner in programming and I know very little, I'm sure that as I continue to work on the website, my skills will improve. The website may be rough and not user-friendly, but as I improve, I am sure it will become more polished and refined. I have also included a screenshot of the website, in case you are reading this in the future and want to see what it looked like in its earliest stage.</p>

  <img src="{{url_for('static', filename='firstever/Websitescreenshot.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="image of my website in it's infancy.">
      
  <p>Thank you for taking the time to read this little introduction. I hope that everything works out and this website would be something I am very proud of.</p>
  
  <p>(help from ChatGPT)</p>
{% endblock %}