{% extends "layout.html" %}
{% block desktop_header %}
<a href="{{ url_for('home') }}" class="margin20 pagelink nodeclink current">Home</a>
<a href="{{ url_for('about') }}" class="margin20 pagelink nodeclink">About</a>
<a href="{{ url_for('music') }}" class="margin20 pagelink nodeclink">Music</a>
<a href="{{ url_for('programming') }}" class="margin20 pagelink nodeclink">Programming</a>
<a href="{{ url_for('ai_gallery') }}" class="margin20 pagelink nodeclink">AI art gallery</a>
{% endblock %}
{% block mobile_header %}
      <li><a class="dropdown-item current" href="{{ url_for('home') }}">Home</a></li>
      <hr>
      <li><a class="dropdown-item" href="{{ url_for('about') }}">About</a></li>
      <li><a class="dropdown-item" href="{{ url_for('music') }}">Music</a></li>
      <li><a class="dropdown-item" href="{{ url_for('programming') }}">Programming</a></li>
      <li><a class="dropdown-item" href="{{ url_for('ai_gallery') }}">AI art gallery</a></li>
{% endblock %}
{% block main %}
<h2 class="varcolor">Blog</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">FIRST EVER <small class="text-muted datecolor">January 16th 2023</small></h5>
            <p class="card-text ptext">A short introduction</p>
            <a href="{{ url_for('firstever') }}" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body ">
            <h5 class="card-title">ChatGPT <small class="text-muted datecolor">January 22nd 2023</small></h5>
            <p class="card-text ptext">My thoughts on the AI chatbot ChatGPT by OpenAI</p>
            <a href="{{ url_for('chatgpt') }}" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content. </p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!-- 
$ export FLASK_DEBUG=1
$ flask run
-->