{% extends "layout.html" %}
{% block header %}
<header class="varcolor desktop">
  <h1 class="title"><strong class="unbounded">The Edge of the Universe™</strong></h1>
  <h2 class="spevent"> {{sp_event}} </h2>
  <nav>
    <a href="{{ url_for('about') }}" class="margin20 pagelink nodeclink">About</a>
    <a href="{{ url_for('music') }}" class="margin20 pagelink nodeclink">Music</a>
    <a href="{{ url_for('programming') }}" class="margin20 pagelink nodeclink">Programming</a>
    <a href="{{ url_for('ai_gallery') }}" class="margin20 pagelink nodeclink">AI art gallery</a>
    <span class="themetog">
      <button type="button" class="btn btn-outline-primary margin-right" onclick="toggleTheme()">Theme <i class="bi bi-brightness-high-fill light-mode"></i><i class="bi bi-moon-fill dark-mode"></i></button>
    </span>
  </nav>
  <hr>
</header>

<header class="varcolor mobile">
  <h1 class="title"><strong class="unbounded">The Edge of the Universe™</strong></h1>
  <h2 class="spevent"> {{sp_event}} </h2>
  
  <nav class="dropdown margin20">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-list"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_for('about') }}">About</a></li>
      <li><a class="dropdown-item" href="{{ url_for('music') }}">Music</a></li>
      <li><a class="dropdown-item" href="{{ url_for('programming') }}">Programming</a></li>
      <li><a class="dropdown-item" href="{{ url_for('ai_gallery') }}">AI art gallery</a></li>
    </ul>
    <span class="themetog">
      <button type="button" class="btn btn-outline-primary" onclick="toggleTheme()">Theme <i class="bi bi-brightness-high-fill light-mode"></i><i class="bi bi-moon-fill dark-mode"></i></button>
    </span>
  </nav>
  <hr>
</header>
{% endblock %}

{% block main %}
<h2 class="varcolor">Blog</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">FIRST EVER <small class="text-muted datecolor">January 16th 2023</small></h5>
            <p class="card-text ptext">A short introduction</p>
            <a href="{{ url_for('firstever') }}" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body ">
            <h5 class="card-title">ChatGPT <small class="text-muted datecolor">January 22nd 2023</small></h5>
            <p class="card-text ptext">My thoughts on the AI chatbot ChatGPT by OpenAI</p>
            <a href="{{ url_for('chatgpt') }}" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content. </p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!-- 
$ export FLASK_DEBUG=1
$ flask run
-->