{% extends "layout.html" %}

{% block header %}
<h1 class="title copperplate"><strong>The Edge of the Universe</strong></h1>
<div>
  <a href="{{ url_for('about') }}" class="margin20 pagelink">About</a>
  <span class="themetog">
    <button type="button" class="btn btn-outline-primary" id="togthemebtn">Light/Dark mode</button>
  </span>
</div>
{% endblock %}

{% block main %}
<h2>Posts</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">FIRST EVER <small class="text-muted">January 16th 2023</small></h5>
            <p class="card-text">An short introduction</p>
            <a href="{{ url_for('firstever') }}" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ChatGPT <small class="text-muted">January 22nd 2023</small></h5>
            <p class="card-text">My thoughts on the AI chatbot ChatGPT by OpenAI</p>
            <a href="{{ url_for('chatgpt') }}" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AI Generated Images <small class="text-muted">Latest</small></h5>
            <p class="card-text">Some of my favorite AI generations. Last updated: January 22nd 2023</p>
            <a href="{{ url_for('ai_img') }}" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted">Date</small></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted">Date</small></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content. </p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted">Date</small></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted">Date</small></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted">Date</small></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!-- 
$ export FLASK_DEBUG=1
$ flask run
-->