<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Edge of the Universe™</title>
  <link rel="icon" href="{{url_for('static', filename='icon.png')}}" type="image/icon type">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='light.css')}}" id="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body onLoad ="switchDefault();">

<header class="varcolor desktop-header">
  <h1 class="title"><strong class="unbounded">The Edge of the Universe™</strong></h1>
  <h2 class="spevent"> {{sp_event}} </h2>
  <nav>
    {% block desktop_header %}{% endblock %}
    <span class="themetog">
      <button type="button" class="btn btn-outline-primary margin-right" onclick="toggleTheme()">Theme <i class="bi bi-brightness-high-fill light-mode"></i><i class="bi bi-moon-fill dark-mode"></i></button>
    </span>
  </nav>
  <hr>
</header>

<header class="varcolor mobile-header">
  <h1 class="title"><strong class="unbounded">The Edge of the Universe™</strong></h1>
  <h2 class="spevent"> {{sp_event}} </h2>
  
  <nav class="dropdown margin20">
    <button class="btn btn-secondary dropdown-toggle menu-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-list"></i>
    </button>
    <ul class="dropdown-menu">
      {% block mobile_header %}{% endblock %}
    </ul>
    <span class="themetog">
      <button type="button" class="btn btn-outline-primary" onclick="toggleTheme()">Theme <i class="bi bi-brightness-high-fill light-mode"></i><i class="bi bi-moon-fill dark-mode"></i></button>
    </span>
  </nav>
  <hr>
</header>

<main>
  {% block main %}{% endblock %}
</main>
    
<footer class="varcolor ptext">

  <hr>
  <div>
    <a class="language nodeclink plink lan-margin" href="{{ url_for('home_cn') }}">中文</a>
    <h2 class="unbounded">The Edge of the Universe™</h2>
  </div>

  <div class="mobile-footer">
    <span class="margin_contact"><i class="bi bi-envelope-fill"></i><a href="mailto:leetong.lam.123@gmail.com" class="nodeclink plink"> Email</a>
    </span>
  </div>
  <div class="desktop-footer">
    <span class="margin_contact"><i class="bi bi-envelope-fill"></i> Email:</span>
    <a href="mailto:leetong.lam.123@gmail.com" class="nodeclink plink">leetong.lam.123@gmail.com</a>
    </span>
  </div>
  
  <div class="mobile-footer">
    <span class="margin_contact"><i class="bi bi-twitter"></i><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/Mr_HelloEarth" class="nodeclink plink"> Twitter</a></span>
  </div>
  <div class="desktop-footer">
    <span class="margin_contact"><i class="bi bi-twitter"></i> Twitter:</span>
    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/Mr_HelloEarth" class="nodeclink plink">@Mr_HelloEarth</a>
  </div>

  <div class="mobile-footer">
    <span class="margin_contact">
      <i class="bi bi-github"></i><a target="_blank" rel="noopener noreferrer" href="https://github.com/Anonymous-github-user1" class="nodeclink plink"> Github</a>
    </span>
  </div>
  <div class="desktop-footer">
    <span class="margin_contact"><i class="bi bi-github"></i> Github:</span>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/Anonymous-github-user1" class="nodeclink plink">Anonymous-github-user1</a>
  </div>

  <div class="footer-col footer-col-3 margin20">
        <p>My website - The Edge of the Universe &#128640;</p>
  </div>

</footer>
</body>

