<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Edge of the Universe™</title>
  <link rel="icon" href="{{url_for('static', filename='icon.png')}}" type="image/icon type">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='light.css')}}" id="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
</head>

<body onLoad ="switchDefault()">
{% block header %}

  <header class="varcolor">
      <h1 class="title copperplate"><strong>The Edge of the Universe™</strong></h1>
      <div>
        <a href="{{ url_for('home') }}" class="margin20 pagelink">Home</a>
        <span class="themetog">
          <button type="button" class="btn btn-outline-primary" onclick="toggleTheme()">Light/Dark mode</button>
        </span>
      </div>
    <hr>
  </header>
{% endblock %}

<main>
  {% block main %}{% endblock %}
</main>
    
<footer class="varcolor ptext">
  <hr>
  <div>
    <a class="language nodeclink plink lan-margin" href="{{ url_for('home_cn') }}">中文</a>
    <h2 class="copperplate">The Edge of the Universe™</h2>
    <span class="margin_con">Email:</span>
    <a href="mailto:leetong.lam.1234@gmail.com" class="nodeclink plink">leetong.lam.1234@gmail.com</a>
  </div>
  
  <div>
    <span class="margin_con">Twitter:</span>
    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/Mr_HelloEarth" class="nodeclink plink">@Mr_HelloEarth</a>
  </div>

  <div>
    <span class="margin_con">Github:</span>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/Anonymous-github-user1" class="nodeclink plink">Anonymous-github-user1</a>
  </div>

  <div class="footer-col footer-col-3 margin20">
        <p>My website - The Edge of the Universe &#128640;</p>
  </div>
</footer>

</body>

