{% extends "layout.html" %}
{% block desktop_header %}
<a href="{{ url_for('home') }}" class="margin20 pagelink nodeclink">Home</a>
<a href="{{ url_for('about') }}" class="margin20 pagelink nodeclink">About</a>
<a href="{{ url_for('music') }}" class="margin20 pagelink nodeclink current">Music</a>
<a href="{{ url_for('programming') }}" class="margin20 pagelink nodeclink">Programming</a>
<a href="{{ url_for('ai_gallery') }}" class="margin20 pagelink nodeclink">AI art gallery</a>
{% endblock %}
{% block mobile_header %}
      <li><a class="dropdown-item" href="{{ url_for('home') }}">Home</a></li>
      <hr>
      <li><a class="dropdown-item" href="{{ url_for('about') }}">About</a></li>
      <li><a class="dropdown-item current" href="{{ url_for('music') }}">Music</a></li>
      <li><a class="dropdown-item" href="{{ url_for('programming') }}">Programming</a></li>
      <li><a class="dropdown-item" href="{{ url_for('ai_gallery') }}">AI art gallery</a></li>
{% endblock %}
{% block main %}
<h2 class="varcolor">My music creations</h2>

<div class="margin20 ptext varcolor">    
  <p>Some of my music creations from <a class="plink" target="_blank" rel="noopener noreferrer" href="https://www.apple.com/logic-pro/">Logic Pro</a> and <a class="plink" target="_blank" rel="noopener noreferrer" href="https://musescore.org">Musescore</a></p>

  <ul>
    <li>
        <p>A Logic Pro creation: <a class="plink" target="_blank" rel="noopener noreferrer" href="https://youtu.be/HuMKodD390I">Echoes of the Past</a></p>
    </li>

    <li>
        <p>Music #2</p>
    </li>

    <li>
        <p>Music #3</p>
    </li>

    <li>
        <p>Music #4</p>
    </li>
  </ul>
{% endblock %}