{% extends "layout.html" %}
{% block main %}
<h2 class="varcolor">My music creations</h2>

<div class="margin20 ptext varcolor">    
  <p>Some of my music creations from <a class="plink" target="_blank" rel="noopener noreferrer" href="https://www.apple.com/logic-pro/">Logic Pro</a> and <a class="plink" target="_blank" rel="noopener noreferrer" href="https://musescore.org">Musescore</a></p>

  <ul>
    <li>
        <p>A Logic Pro creation: <a class="plink" target="_blank" rel="noopener noreferrer" href="https://youtu.be/HuMKodD390I">Echoes of the Past</a></p>
    </li>

    <li>
        <p>Music #2</p>
    </li>

    <li>
        <p>Music #3</p>
    </li>

    <li>
        <p>Music #4</p>
    </li>
  </ul>
{% endblock %}