{% extends "chinese/layout_cn.html" %}
{% block main %}
<h2 class="varcolor">人工智能艺术廊</h2>

<div class="margin20 ptext varcolor">    
  <p>我最喜欢的一些 AI 生成的图像。 来自 <a class="plink" target="_blank" rel="noopener noreferrer" href="https://openai.com/dall-e-2/">DALL-E 2</a> 和 <a class="plink" target="_blank" rel="noopener noreferrer" href="https://midjourney.com/home/">Midjourney</a></p>

  <p>(Midjourney) 图片要求: a minimalist vector logo for a blog website that is related to tech and science, retro-futuristic, minimalism, white background, png (用了 Pixelmator Pro 来编辑) (与科技、复古未来主义、极简主义、白色背景、PNG相关的博客网站的极简主义矢量Logo)</p>
  <img src="{{url_for('static', filename='aiart/universe logo with background.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="AI generated art by Midjourney with the prompt of: a minimalist vector logo for a blog website that is related to tech and science, retro-futuristic, minimalism, white background, png">
  <hr>
  <p>(Midjourney) 图片要求: dystopia by Simon Stalenhag (Simon Stalenhag 的反乌托邦)</p>
  <img src="{{url_for('static', filename='aiart/1.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="人工智能 Midjourney 生成艺术作品，提示如下: dystopia by Simon Stalenhag">
  <hr>
  <p>(Midjourney) 图片要求: futuristic bedroom looking out to city view by Simon Stalenhag (Simon Stalenhag 的未来派卧室，眺望城市景观)</p>
  <img src="{{url_for('static', filename='aiart/2.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="人工智能 Midjourney 生成艺术作品，提示如下: futuristic bedroom looking out to city view by Simon Stalenhag">
  <hr>
  <p>(Midjourney) 图片要求: post apocalypse city by Dan Matutina (Dan Matutina 的后启示录城市)</p>
  <img src="{{url_for('static', filename='aiart/3.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="人工智能 Midjourney 生成艺术作品，提示如下: post apocalypse city by Dan Matutina">
  <hr>
  <p>(Midjourney) 图片要求: futuristic city in the style of Simon Stalenhag (Simon_Stalenhag 风格的未来城市)</p>
  <img src="{{url_for('static', filename='aiart/4.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="人工智能 Midjourney 生成艺术作品，提示如下: futuristic city in the style of Simon_Stalenhag">
  <hr>
  <p>(DALL-E 2) 图片要求: post-apocalyptic city with nature grown everywhere, a robot standing in the middle, photorealistic, 4k, HDR, sci-fi, futuristic, unreal engine, creative (后世界末日的城市，到处都是大自然，一个机器人站在中间，逼真，4k，HDR，科幻，未来派，虚幻引擎，创意)</p>
  <img src="{{url_for('static', filename='aiart/5.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="人工智能通过 DALL-E 2 生成艺术作品，提示如下: post-apocalyptic city with nature grown everywhere, a robot standing in the middle, photorealistic, 4k, HDR, sci-fi, futuristic, unreal engine, creative">
  <hr>
  <p>(DALL-E 2) 图片要求: backrooms, nostalgia, 4k, photorealistic, vaporwave, HDR, octane render ("backrooms"，怀旧，4k，逼真，蒸汽波，HDR，OC渲染)</p>
  <img src="{{url_for('static', filename='aiart/6.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="人工智能通过 DALL-E 2 生成艺术作品，提示如下: backrooms, nostalgia, 4k, photorealistic, vaporwave, HDR, octane render">
  <hr>
  <p>(DALL-E 2) 图片要求: backrooms, nostalgia, 4k, photorealistic, vaporwave, HDR, octane render ("backrooms"，怀旧，4k，逼真，蒸汽波，HDR，OC渲染)</p>
  <img src="{{url_for('static', filename='aiart/7.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="人工智能通过 DALL-E 2 生成艺术作品，提示如下: backrooms, nostalgia, 4k, photorealistic, vaporwave, HDR, octane render">
  <hr>
  <p>(DALL-E 2) 图片要求: a bowl of soup that is also a portal to another dimension, digital art (一碗汤通往另一个维度的入口，数字艺术)</p>
  <img src="{{url_for('static', filename='aiart/8.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="人工智能通过 DALL-E 2 生成艺术作品，提示如下: a bowl of soup that is also a portal to another dimension, digital art">
  <hr>
  <p>(Midjourney) 图片要求: backrooms, nostalgia, 4k, photorealistic, vaporwave, HDR, octane render ("backrooms"，怀旧，4k，逼真，蒸汽波，HDR，OC渲染)</p>
  <img src="{{url_for('static', filename='aiart/9.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="人工智能通过 Midjourney 生成艺术作品，提示如下: backrooms, nostalgia, 4k, photorealistic, vaporwave, HDR, octane render">
  <hr>
  <p>(Midjourney) 图片要求: a post-apocalyptic city with nature grown everywhere, a robot standing in the middle, photorealistic, 4k, HDR, sci-fi, futuristic, unreal engine, creative (后世界末日的城市，到处都是大自然，一个机器人站在中间，逼真，4k，HDR，科幻，未来派，虚幻引擎，创意)</p>
  <img src="{{url_for('static', filename='aiart/10.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="人工智能通过 Midjourney 生成艺术作品，提示如下: post-apocalyptic city with nature grown everywhere, a robot standing in the middle, photorealistic, 4k, HDR, sci-fi, futuristic, unreal engine, creative">
{% endblock %}