{% extends "chinese/layout_cn.html" %}

{% block header %}
<h1 class="title copperplate"><strong>宇宙的边缘™</strong></h1>
<div>
  <a href="{{ url_for('home_cn') }}" class="margin20 pagelink nodeclink">主页</a>
  <span class="themetog">
    <button type="button" class="btn btn-outline-primary" id="togthemebtn">亮/暗模式</button>
  </span>
</div>
{% endblock %}

{% block main %}
<h2 class="varcolor">ChatGPT</h2>

<div class="margin20 ptext varcolor">    
  <p>如果你还没有听说过，<a class="plink" target="_blank" rel="noopener noreferrer" href="https://openai.com/blog/chatgpt/">ChatGPT</a> 是由 <a class="plink" target="_blank" rel="noopener noreferrer" href="https://openai.com">OpenAI</a> 开发并于 2022 年 11 月对外发布的语言模型。它基于 <a class="plink" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/GPT-3">GPT</a> (Generative Pre-trained Transformer)，在海量文本数据上进行训练，生成类似人类的文字。它目前可以免费使用并处于研究预览阶段。 因为这个工具是免费的，而且很容易获得，它在一周内吸引了 100 万用户 (Facebook 花了十个月才达到那么多用户)。大量的用户导致生成速度变慢和更多错误。这也会让 OpenAI 损失了很多钱，这意味着他们迟早要将其货币化。</p>

  <img src="{{url_for('static', filename='chatgpt/chatgpterror.translated.jpg')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="服务器高需求 ChatGPT 警告。">

  <p>我已经使用 ChatGPT 一个多月了，发现它用途广泛。我用它来写诗和散文、提出想法、寻求建议、生成代码等等。在网上，我看到了使用 ChatGPT 的创造性方法，包括尝试用它创作音乐。 但是，我也注意到了一些局限性。答案有时可能重复且结构相似，并且在某些情况下它会给出错误信息。OpenAI 对其进行了限制，然而，人们总是想方设法绕过这些限制。还值得注意的是，一些学生正在利用此工具来为他们撰写论文。未来，教育系统和世界将不得不适应更强大的人工智能工具。</p>

  <img src="{{url_for('static', filename='chatgpt/chatgpt_false.translated.jpg')}}" class="rounded mx-auto d-block margin20 img-fluid verimage" alt="ChatGPT 的错误数学，认为 1000 大于 1062。">
  <img src="{{url_for('static', filename='chatgpt/bypass_chatgpt.translated.jpg')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="ChatGPT 写了一首关于如何给汽车热接线的诗。">
      
  <p>尽管如此，ChatGPT 仍然是一个令人印象深刻的工具。它可以快速回答通常需要在谷歌上研究的问题，而且它特别擅长写作。许多人试图用它来产生一些非常有趣的故事。我自己使用 ChatGPT 来改进我的写作，它使我的句子更加清晰和措辞更好。此外，它生成、修复和解释代码的能力令人印象深刻。它最有用的功能之一是它能够保留对话的上下文，允许用户对前几代进行更改而无需重述提示。</p>

  <img src="{{url_for('static', filename='chatgpt/chatgpt_context.translated.jpg')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="ChatGPT 解释量子计算，然后要求简化。">
  
  <p>总的来说，我认为 ChatGPT 具有很大的潜力，因为它仅处于研究预览状态。它可以极大地受益于可靠性和可变性的改进。虽然有些人对其取代工作的潜力表示担忧，但我认为重要的是要考虑人工智能可以给人类带来的许多好处。人工智能的发展速度惊人，将极大地影响并有望改善我们未来的社会。</p>

  <p>了解更多：</p>
  <ul>
    <li><a class="plink" target="_blank" rel="noopener noreferrer" href="https://youtu.be/0uQqMxXoNVs">ColdFusion - 是时候关注 AI 了 (ChatGPT 及其他)</a></li>
    <li><a class="plink" target="_blank" rel="noopener noreferrer" href="https://youtu.be/0gNauGdOkro">Marques Brownlee - 关于 AI 变得“有创意”的真相</a></li>
  </ul>
{% endblock %}