{% extends "chinese/layout_cn.html" %}
{% block main %}
<h2 class="varcolor">第一次</h2>

<div class="margin20 ptext varcolor">    
  <p>欢迎来到宇宙的边缘！ 我很高兴通过我的网站与您分享我的想法。我可能对这些并不熟悉，但我渴望探索我感兴趣的广泛主题，从最新的技术和科学发展到哲学等等。我也很期待分享我的一些随机主意，其中可能包括一些编程和音乐。我不知道，任何我觉得有趣的事情我都可以谈论。未来总是不确定的，但我相信通过分享我的热情和想法，我们可以共同发现和进步。这个网站在我写这篇文章的时候还没有上线，所以我目前正在努力上传这个网站。我相信我会在这段旅程中学到很多东西 (希望你也是!)，我希望你会发现这些内容很有价值。</p>

  <p>至于网站，我决定自己写编码，使用 <a class="plink" target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/">Bootstrap</a> 来帮助我处理一些 CSS。虽然我是编程的初学者，知道的很少，但我相信随着我继续在网站上工作，我的技能会有所提高。该网站可能现在比较粗糙，但随着我的改进，我相信它会变得更加精致。我还附上了该网站的最早的屏幕截图，以防您将来阅读本文并想看看它一开始的样子。</p>

  <img src="{{url_for('static', filename='firstever/Websitescreenshot.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="该网站的最早的屏幕截图">
      
  <p>感谢您花时间阅读这篇简短的介绍。 我希望一切顺利，这个网站将成为我引以为豪的东西。</p>
  
  <p><i> (ChatGPT 的帮助)</i></p>
{% endblock %}