{% extends "chinese/layout_cn.html" %}

{% block header %}
<h1 class="title copperplate"><strong>宇宙的边缘™</strong></h1>
<h2 class="spevent"> {{sp_event}} </h2>
<div>
  <a href="{{ url_for('about_cn') }}" class="margin20 pagelink nodeclink">关于</a>
  <span class="themetog">
    <button type="button" class="btn btn-outline-primary" id="togthemebtn">亮/暗模式</button>
  </span>
</div>
{% endblock %}

{% block main %}
<h2>消息</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">第一次 <small class="text-muted datecolor">2023 年 1 月 16 日</small></h5>
            <p class="card-text ptext">简短的介绍</p>
            <a href="{{ url_for('firstever_cn') }}" class="btn btn-outline-secondary">更多</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ChatGPT <small class="text-muted datecolor">2023 年 1 月 22 日</small></h5>
            <p class="card-text ptext">我对 OpenAI 的人工智能机器人 ChatGPT 的看法</p>
            <a href="{{ url_for('chatgpt_cn') }}" class="btn btn-outline-secondary">更多</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">人工智能生成图像 <small class="text-muted datecolor">最新</small></h5>
            <p class="card-text ptext">我最喜欢的一些 AI 生成的图像。最后更新: 2023 年 1 月 22 日</p>
            <a href="{{ url_for('ai_img_cn') }}" class="btn btn-outline-secondary">更多</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">更多</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content. </p>
            <a href="#" class="btn btn-outline-secondary">更多</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">更多</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">更多</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment <small class="text-muted datecolor">Date</small></h5>
            <p class="card-text ptext">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary">更多</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

<!-- 
$ export FLASK_DEBUG=1
$ flask run
-->