{% extends "chinese/layout_cn.html" %}
{% block desktop_header %}
  <a href="{{ url_for('home_cn') }}" class="margin20 pagelink nodeclink">主页</a>
  <a href="{{ url_for('about_cn') }}" class="margin20 pagelink nodeclink">关于</a>
  <a href="{{ url_for('music_cn') }}" class="margin20 pagelink nodeclink"><strong>音乐</strong></a>
  <a href="{{ url_for('programming_cn') }}" class="margin20 pagelink nodeclink">编程</a>
  <a href="{{ url_for('ai_gallery_cn') }}" class="margin20 pagelink nodeclink">AI 艺术廊</a>
{% endblock %}
{% block mobile_header %}
  <li><a class="dropdown-item" href="{{ url_for('home_cn') }}">主页</a></li>
  <hr>
  <li><a class="dropdown-item" href="{{ url_for('about_cn') }}">关于</a></li>
  <li><a class="dropdown-item" href="{{ url_for('music_cn') }}"><strong>音乐</strong></a></li>
  <li><a class="dropdown-item" href="{{ url_for('programming_cn') }}">编程</a></li>
  <li><a class="dropdown-item" href="{{ url_for('ai_gallery_cn') }}">AI 艺术廊</a></li>
{% endblock %}
{% block main %}
<h2 class="varcolor">我的音乐创作</h2>

<div class="margin20 ptext varcolor">    
  <p>我用 <a class="plink" target="_blank" rel="noopener noreferrer" href="https://www.apple.com/logic-pro/">Logic Pro</a> 和 <a class="plink" target="_blank" rel="noopener noreferrer" href="https://musescore.org">Musescore</a> 创作的一些音乐</p>

  <ul>
    <li>
        <p>Logic Pro 创作:  <a class="plink" target="_blank" rel="noopener noreferrer" href="https://youtu.be/HuMKodD390I">Echoes of the Past</a> (过去的回声)</p>
    </li>

    <li>
        <p>Music #2</p>
    </li>

    <li>
        <p>Music #3</p>
    </li>

    <li>
        <p>Music #4</p>
    </li>
  </ul>
{% endblock %}