{% extends "chinese/layout_cn.html" %}
{% block desktop_header %}
  <a href="{{ url_for('home_cn') }}" class="margin20 pagelink nodeclink">主页</a>
  <a href="{{ url_for('about_cn') }}" class="margin20 pagelink nodeclink">关于</a>
  <a href="{{ url_for('music_cn') }}" class="margin20 pagelink nodeclink">音乐</a>
  <a href="{{ url_for('programming_cn') }}" class="margin20 pagelink nodeclink"><strong>编程</strong></a>
  <a href="{{ url_for('ai_gallery_cn') }}" class="margin20 pagelink nodeclink">AI 艺术廊</a>
{% endblock %}
{% block mobile_header %}
  <li><a class="dropdown-item" href="{{ url_for('home_cn') }}">主页</a></li>
  <hr>
  <li><a class="dropdown-item" href="{{ url_for('about_cn') }}">关于</a></li>
  <li><a class="dropdown-item" href="{{ url_for('music_cn') }}">音乐</a></li>
  <li><a class="dropdown-item" href="{{ url_for('programming_cn') }}"><strong>编程</strong></a></li>
  <li><a class="dropdown-item" href="{{ url_for('ai_gallery_cn') }}">AI 艺术廊</a></li>
{% endblock %}
{% block main %}
<h2 class="varcolor">我的编程</h2>

<div class="margin20 ptext varcolor">    
  <p>我编程的一些东西</a></p>

  <ul>
    <li>
        <h5 class="varcolor">我的第一个网站</h5>
        <p>我通过 <a class="plink" target="_blank" rel="noopener noreferrer" href="https://www.theodinproject.com/">The Odin Project</a> 学到了 html 和 css的基础。这是一个很棒的免费开源编码课程。它会教你关于 <a class="plink" target="_blank" rel="noopener noreferrer" href="https://youtu.be/dQw4w9WgXcQ">互联网</a>、<a class="plink" target="_blank" rel="noopener noreferrer" href="https://git-scm.com/">Git</a>、<a class="plink" target="_blank" rel="noopener noreferrer" href="https://github.com/">Github</a>、命令行、html、css、javascript 等的基础知识。我的第一个网站是我用 The Odin Project 制作的简单食谱网站。</p>
        <img src="{{url_for('static', filename='programming/Odin_website.png')}}" class="rounded mx-auto d-block margin20 img-fluid" alt="My first very basic recipes website made with the Odin Project">
    </li>

    <li>
        <p>Code #2</p>
    </li>

    <li>
        <p>Code #3</p>
    </li>

    <li>
        <p>Code #4</p>
    </li>
  </ul>
{% endblock %}