body {
    background-color: var(--background);
    margin:0 auto;
    width:80%;
    --background: rgb(40, 40, 43);
}

@media only screen and (max-width: 595px) {
    body {
        width: 90%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        width: 70%;
    }
}

@media only screen and (min-width: 1600px) {
    body {
        width: 60%;
    }
}

@media only screen and (max-width: 595px) {
    .ptext {
        font-size: larger;
    }
}

.varcolor {
    color: rgb(255, 252, 249);
}

h1, h2 {
    margin: 20px;
    color: rgb(255, 252, 249);
}

.card {
    margin-bottom: 30px;
    min-height: 200px;
    box-shadow: 0 3px 15px lightblue;
    background-color: rgb(35, 35, 38);
    color: rgb(255, 252, 249);
    border-color: white;
}

.margin_email {
    margin-top: 20px;
    margin-left: 20px;
}

.margin20 {
    margin: 20px
}

.pagelink {
    font-size: 25px
}

.plink {
}

.pagelink:link, .plink:link {
    color: lightblue;
}

.pagelink:visited, .plink:visited {
    color: lightblue;
}

.pagelink:hover, .plink:hover {
    font-weight: 450;
}

.pagelink:active, .plink:active {
    color:gray;
}

.copperplate {
    font-family: Copperplate, Papyrus, fantasy;
}

.title {
    font-size: 50px;
}

.nodeclink {
    text-decoration: none;
}

.themetog {
    float: right;
}

.btn-outline-primary {
    color: white;
    background-color: rgb(35, 35, 38);
    border-color: white;
    box-shadow: 0 3px 10px lightblue;
}

.btn-outline-primary:hover {
    color: black;
    background-color: white;
    border-color: white
}

.btn-outline-secondary {
    color: lightblue;
    border-color: lightblue;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: white;
    border-color: white
}

.datecolor {
    color: lightgray !important;
}