body {
    background-color: var(--background);
    margin:0 auto;
    width:80%;
    --background: rgb(40, 40, 43);
}

.varcolor {
    color: rgb(255, 252, 249);
}

.card {
    margin-bottom: 30px;
    min-height: 200px;
    box-shadow: 0 3px 15px lightblue;
    background-color: rgb(35, 35, 38);
    color: rgb(255, 252, 249);
    border-color: white;
}

.pagelink:link, .plink:link {
    color: lightblue;
}

.pagelink:visited, .plink:visited {
    color: lightblue;
}

.pagelink:hover, .plink:hover {
    font-weight: 450;
}

.pagelink:active, .plink:active {
    color:gray;
}

.btn-outline-primary {
    color: white;
    background-color: rgb(35, 35, 38);
    border-color: white;
    box-shadow: 0 3px 10px lightblue;
}

.btn-outline-primary:hover {
    color: black;
    background-color: white;
    border-color: white
}

.btn-outline-secondary {
    color: lightblue;
    border-color: lightblue;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: white;
    border-color: white
}

.datecolor {
    color: lightgray !important;
}

.spevent {
    font-family: "Brush Script MT", cursive;
    color: pink;
}