body {
    background-color: var(--background);
    margin: auto;
    --background: rgb(255, 252, 249);
    border-top: 5px solid #424242;
}

.card {
    margin-bottom: 30px;
    min-height: 200px;
    box-shadow: 0 5px 10px gray;
    border-color: black
}

.pagelink:link, .plink:link {
    color: darkblue;
}

.pagelink:visited, .plink:visited {
    color: darkblue;
}

.pagelink:hover, .current, .plink:hover {
    font-weight: 450;
    text-decoration: underline;
}

.pagelink:active, .plink:active {
    color:gray;
}

.btn-outline-primary, .dropdown-toggle {
    color: black;
    background-color: white;
    border-color: black;
    box-shadow: 0 3px 10px gray;
}

.btn-outline-primary:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.spevent {
    font-family: "Brush Script MT", cursive;
    color: red;
}

.dark-mode {
    display: inline-block;
}

.light-mode {
    display: none;
}