* {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 388px) {
    header, main, footer {
        margin-left: 10px;
        margin-right: 10px;
        --blankspace: 10px;
    }
    .ptext {
        font-size: 120%;
    }
    .title{
        font-size: 45px !important;
    }
}

@media only screen and (min-width: 388px) {
    header, main, footer {
        margin-left: 30px;
        margin-right: 30px;
        --blankspace: 30px;
    }
    .ptext {
        font-size: 120%;
    }
    .title{
        font-size: 45px !important;
    }
}

@media only screen and (min-width: 595px) {
    header, main, footer {
        margin-left: 70px;
        margin-right: 70px;
        --blankspace: 70px;
    }
    .ptext {
        font-size: 120%;
    }
}

@media only screen and (min-width: 850px) {
    header, main, footer {
        margin-left: 130px;
        margin-right: 130px;
        --blankspace: 130px;
    }
    .ptext {
        font-size: 120%;
    }
}

@media only screen and (min-width: 1200px) {
    header, main, footer {
        margin-left: 170px;
        margin-right: 170px;
        --blankspace: 170px;
    }
    .ptext {
        font-size: 115%;
    }
}

@media only screen and (min-width: 1400px) {
    header, main, footer {
        margin-left: 230px;
        margin-right: 230px;
        --blankspace: 230px;
    }
    .ptext {
        font-size: 115%;
    }
}

@media only screen and (min-width: 1600px) {
    header, main, footer {
        margin-left: 280px;
        margin-right: 280px;
        --blankspace: 280px;
    }
    .ptext {
        font-size: 110%;
    }
}

@media only screen and (min-width: 2100px) {
    header, main, footer {
        margin-left: 350px;
        margin-right: 350px;
        --blankspace: 350px;
    }
    .ptext {
        font-size: 110%;
    }
}

@media only screen and (max-width: 1092px) {
    .mobile-header {
      display: block;
    }
    .desktop-header {
      display: none;
    }
  }

@media only screen and (min-width: 1092px) {
    .mobile-header {
      display: none;
    }
    .desktop-header {
      display: block;
    }
  }

@media only screen and (max-width: 576px) {
    .mobile-footer {
      display: block;
    }
    .desktop-footer {
      display: none;
    }
  }

@media only screen and (min-width: 576px) {
    .mobile-footer {
      display: none;
    }
    .desktop-footer {
      display: block;
    }
  }

body {
    background-color: var(--background);
    transition: background-color 0.5s;
    margin: auto;
    border-top: 7px solid #424242;
}

header {
    margin: 0 !important;
    padding-left: var(--blankspace);
    padding-right: var(--blankspace);
    padding-top: 10;
    background-color: var(--header-footer-color);
    transition: background-color 0.5s;
}

footer {
    margin: 0 !important;
    padding-left: var(--blankspace);
    padding-right: var(--blankspace);
    padding-bottom: 10;
    background-color: var(--header-footer-color);
    transition: background-color 0.5s;
}

h1, h2 {
    margin: 20px;
}

.card{
    margin-bottom: 30px;
    min-height: 200px;
    box-shadow: var(--card-box-shadow);
    border-color: var(--card-border-color);
    background-color: var(--card-background-color);
    transition: background-color 0.5s;
}

.plink {
    text-decoration: none;
}

.margin_contact {
    margin-top: 20px;
    margin-left: 20px;
}

.margin20 {
    margin: 20px;
}

.pagelink {
    font-size: 25px;
}

.pagelink:hover, .plink:hover {
    text-decoration: underline;
}

.current {
    font-weight: 600;
}

.unbounded {
    font-family: 'Unbounded', cursive !important;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.cntitle {
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 140%;
}

.larger {
    font-size: 200% !important;
}

.title {
    font-size: 50px;
}

.nodeclink {
    text-decoration: none;
}

.themetog, .language {
    float: right;
}

.margin-right {
    margin-right: 20px;
}

.lan-margin {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.dropdown-item {
    font-size: 120%;
}