* {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 595px) {
    body {
        width: 90%;
    }
    .ptext {
        font-size: 120%;
    }
    .title{
        font-size: 45px !important;
    }
}

@media only screen and (min-width: 595px) {
    body {
        width: 80%;
    }
    .ptext {
        font-size: 120%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        width: 70%;
    }
    .ptext {
        font-size: 115%;
    }
}

@media only screen and (min-width: 1600px) {
    body {
        width: 60%;
    }
    .ptext {
        font-size: 110%;
    }
}

@media only screen and (max-width: 930px) {
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
  }

@media only screen and (min-width: 930px) {
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }

h1, h2 {
    margin: 20px;
}

.margin_contact {
    margin-top: 20px;
    margin-left: 20px;
}

.margin20 {
    margin: 20px;
}

.pagelink {
    font-size: 25px;
}

.unbounded {
    font-family: 'Unbounded', cursive !important;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.cntitle {
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 140%;
}

.title {
    font-size: 50px;
}

.nodeclink {
    text-decoration: none;
}

.themetog, .language {
    float: right;
}

.margin-right {
    margin-right: 20px;
}

.lan-margin {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.dropdown-item {
    font-size: 120%;
}