body {
    background-color: var(--background);
    margin:0 auto;
    width:80%;
    --background: rgb(255, 252, 249);
}

@media only screen and (max-width: 595px) {
    body {
        width: 90%;
    }
    .ptext {
        font-size: 140%;
    }
}

@media only screen and (min-width: 595px) {
    body {
        width: 80%;
    }
    .ptext {
        font-size: 130%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        width: 70%;
    }
    .ptext {
        font-size: 120%;
    }
}

@media only screen and (min-width: 1600px) {
    body {
        width: 60%;
    }
    .ptext {
        font-size: 110%;
    }
}


h1, h2 {
    margin: 20px;
}

.card {
    margin-bottom: 30px;
    min-height: 200px;
    box-shadow: 0 5px 10px gray;
    border-color: black
}

.margin_email {
    margin-top: 20px;
    margin-left: 20px;
}

.margin20 {
    margin: 20px
}

.pagelink {
    font-size: 25px;
}

.plink {
}

.pagelink:link, .plink:link {
    color: darkblue;
}

.pagelink:visited, .plink:visited {
    color: darkblue;
}

.pagelink:hover, .plink:hover {
    font-weight: 450;
}

.pagelink:active, .plink:active {
    color:gray;
}

.copperplate {
    font-family: Copperplate, Papyrus, fantasy;
}

.title {
    font-size: 50px;
}

.nodeclink {
    text-decoration: none;
}

.themetog {
    float: right;
}

.btn-outline-primary {
    color: black;
    background-color: white;
    border-color: black;
    box-shadow: 0 3px 10px gray;
}

.btn-outline-primary:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.spevent {
    font-family: "Brush Script MT", cursive;
    color: darkgreen;
}