body {
    background-color: var(--background);
    margin:0 auto;
    width:80%;
    --background: rgb(255, 252, 249);
}

@media only screen and (max-width: 595px) {
    body {
        width: 90%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        width: 70%;
    }
}

@media only screen and (min-width: 1600px) {
    body {
        width: 60%;
    }
}

@media only screen and (max-width: 595px) {
    .ptext {
        font-size: larger;
    }
}

h1, h2 {
    margin: 20px;
}

.card {
    margin-bottom: 30px;
    min-height: 200px;
    box-shadow: 0 5px 10px gray;
}

.margin_email {
    margin-top: 20px;
    margin-left: 20px;
}

.margin20 {
    margin: 20px
}

.pagelink {
    font-size: 25px
}

.pagelink:link {
    color: darkblue
}

.pagelink:visited {
    color: darkblue
}

.pagelink:hover {
    font-weight: 450;
}

.pagelink:active {
    color:gray
}

.plink {
}

.plink:link {
    color: darkblue
}

.plink:visited {
    color: darkblue
}

.plink:hover {
    font-weight: 450;
}

.plink:active {
    color:gray
}

.copperplate {
    font-family: Copperplate, Papyrus, fantasy;
}

.title {
    font-size: 50px;
}

.nodeclink {
    text-decoration: none;
}

.themetog {
    float: right;
}

.btn-outline-primary {
    color: black;
    border-color: black;
    box-shadow: 0 3px 10px gray;
}

.btn-outline-primary:hover {
    color: white;
    background-color: black;
    border-color: black;
}